# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.log

# Conda / Python environment
.env/
.venv/
*.egg-info/
realesrgan.egg-info/

# VSCode / Cursor editor settings
.vscode/
cursor.json
.history/

# OS-specific
.DS_Store
Thumbs.db

# 結果や出力ファイル
results/
output/

# 入力画像（個人写真など）
inputs/

# モデルファイル
*.pth
